<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.remember.remember_me_v1_api.mapper.MemberTokenMapper">
    <insert id="insertToken" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member_token (member_id, access_token, expired_at)
        VALUES (#{memberId}, #{accessToken}, #{expiredAt})
    </insert>
</mapper>